@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif ;
}
body{
    background-color: #F8F8F8;
}

/* header */
.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: rgb(248 249 249) !important;
    background-color: #f8f9f9 !important;
    border: var(--bs-border-width) solid rgb(248 249 249) !important;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}
.bg-body-tertiary{
    background-color: #000 !important;
}
.learn-more-1{
    display: flex;
    justify-content: end;
}
.nav-hero{
    color: #fff;
    font-weight: 700;
}
.btn-one {
    background-color: #D6D6D6;
    padding: 5px 20px 5px 20px;
    font-size: 12px;
    border-radius: 20px;
}
.btn-one:hover{
    background-color: #fff;
    padding: 5px 20px 5px 20px;
    font-size: 12px;
    border-radius: 20px;
    color: #000;
}
/* footer */
.back-col{
    background-color: #000;
    color: #fff;
}
.pad{
    padding: 30px 0px 0px 0px;
    font-size: 12px;
}
.footdemo{
    padding: 45px 0px 0px 0px;
}
/* index */
.for-trd {
    text-align: center;
    font-weight: 600;
    margin-top: 65px;
}
.want {
    background-color: #000;
    color: #fff;
    margin-top: 50px;
    width: 50%;
    padding: 15px 0px 15px 15px;
    border-radius: 40px 0px 0px 40px;
}
.text-2{
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
}
.our-trade {
    font-size: 18px;
    text-align: center;
    opacity: .8;
}
.demo-chan{
    font-size: 15px;
    text-align: center;
    font-weight: 700;
}
.cir-arr{
    width: 25px;
}
.bg-s{
    background-color: #000;
    display: flex;
    align-items: center;
}
.pho-trade {
    padding: 30px 0px 30px 0px;
    width: 60%;
}
.sec-3{
    color: #000;
}
.m-t{
    margin-top: 10%;
}
.btn-one-1{
 
        background-color: #000;
        padding: 10px 30px 10px 30px;
        font-size: 12px;
        border-radius: 20px;
        color: #fff;
        margin-top: -30px;
        border: 2px solid #000;

}
.btn-one-1:hover{
    background-color: #FFF;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    border-radius: 20px;
    color: #000;
    margin-top: -30px;
    border: 2px solid #000;
}
#navbarSupportedContent ul li a {
    color: #ffffff;
    margin-left: 35px;
}
 
#ar-2{
color: #fff;
}
.demo-pic {
    color: #000;
    font-size: 16px;
}
/* owl */
.img-s {
    width: 50%;
    z-index: 1;
    height: 85%;
    box-shadow: 0px 0px 10px #000;
    background-color: #fff;
}
.img-ss {
    width: 50%;
    margin-left: -67%;
    height: 85%;
    margin-top: 0px;
    box-shadow: 0px 0px 10px #000;
    background-color: #fff;
    z-index: 0;
}
.img-ss-s {
    width: 50%;
    margin-left: -23%;
    height: 85%;
    margin-top: 0px;
    box-shadow: 0px 0px 10px #000;
    background-color: #fff;
}
.pades{
    padding: 30px;
}
.csc{
    display: flex;
}

.demo-ww{
    padding: 0px 0px 0px 0px;
}
.carousel-indicators #cio {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 28px;
    height: 28px;
    line-height: 30px;
    border-radius: 50% !important;
    text-align: center;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: unset;
    cursor: pointer;
    background-color: #fff;
    background-clip: unset;
    border-top: 0;
    border-bottom: 0;
    opacity: .5;
    transition: opacity .6s ease;
    opacity: 1;
    border: 1px solid #000;
}
.carousel-indicators .active {
  background-color: #000 !important;
}
.where-we{
   
        color: #000;
        text-align: center;
        margin-top: 45px;
    
}
.cil {
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
}
hr {
    border: none;
    border-top: 4px dotted #000;
    color: #fff;
    background-color: #fff;
    height: 3px;
    width: 100%;
}
  .cen-lin{
    display: flex;
  }
  .card-mt{
    margin-top: 20px;
  }
  .crd{
    border: 1.5px solid #000;
    border-radius: 15px;
  }
  .d-color {
    color: #4B4A4A;
    font-size: 13px;
}
.card-mt-1{
    margin-top: 20px;
}
.befores {
    font-size: 14px;
    color: #4B4A4A;
}
.flg{
    width: 15px;
}
.flg-btn {
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    border: none;
    font-size: 12px;
}
.f-bt{
color: #FFF;
background-color: #2E2E2E;
}
.max{
    margin-top: 20px;
}
.mx-to {
    margin-top: 23%;
}
.bg-wht{
    background-color: #fff;
}
.nands{
    font-weight: 400;
    line-height: 30px;
}
.nxsa{
    text-align: center;
    font-size: 11px;
   
}
.nxsa th{
    border-bottom: none;
}
.asa td {
    background-color: #EBEBEB !important;
    border-left: 2px solid #fff;
    font-size: 12px;
    border-bottom:none ;
}
.asa th {
    width: 30%;
    text-align: initial;
    font-size: 15px;
    border-bottom:none ;
}
.asa{
    line-height: 50px;
}
.table>tbody {
    vertical-align: inherit;
    text-align: center;
}
.max-1{
    margin-top: 50px;
}
.lik{
    line-height: 20px;
    margin-top: 20px;
}
#card {
    margin-top: 20px;
    width: 19rem;
    height: 20rem;
    border: 1.5px solid;
    border-radius: 15px;
}
#seal {
    font-size: 12px;
    color: grey;
    margin-bottom: 30px;
}
.rw {
    color: black;
}
.vec {
    width: 13%;
    margin-left: 8px;
    margin-top: 20px;
    padding: 7px 7px 7px 7px !important;
}
.swing {
    font-weight: bold;
    margin-bottom: 20px;
}
.max-2{
    margin-top: 10%;
}
.joins {
    padding: 40px 0px 41px 0px;
    background-color: #000;
    border-radius: 40px;
}
.joins h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    color: #fff;
}
.joins p{
    font-size: 14px;
    text-align: center;
    margin-bottom: 55px;
    color: #fff;
}
.learn-more-12 {
    display: flex;
    justify-content: center;
}
.btn-one-12 {
    background-color: #fff;
    padding: 10px 40px 10px 40px;
    font-size: 12px;
    border-radius: 40px;
    color: #000;
    margin-top: -30px;
    border: 1px solid #000;
    height: 45px;
}
.btn-one-12:hover {
    background-color: #000;
    padding: 10px 40px 10px 40px;
    font-size: 12px;
    border-radius: 40px;
    color: #fff;
    margin-top: -30px;
    border: 1px solid #fff;
    height: 45px;
}
.btn-one-13 {
    background-color: #000;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    border-radius: 40px;
    color: #fff;
    margin-top: -30px;
    border: 1px solid #fff;
    height: 45px;
}
.btn-one-13:hover {
    background-color: #fff;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    border-radius: 40px;
    color: #000;
    margin-top: -30px;
    border: 1px solid #fff;
    height: 45px;
}
.bgs{
    height: 16%;
}
.cds {
    padding: 10px 5px 10px 5px;
    width: 25rem;
    display: flex;
    top: 11%;
    left: 10%;
    height: 25rem;
    border-radius: 20px;
}
.bgad {
    background-image: url('../Images/Rectangle-55.png') !important;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    /* width: 74rem; */
}
#seala {
    font-size: 13px;
    color: #4B4A4A;
    margin-bottom: 30px;
}
.bgads {
    background-image: url('../Images/Rectangle-56.png') !important;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    /* width: 74rem; */
}
.cdss {
    padding: 10px 5px 10px 5px;
    width: 25rem;
    display: flex;
    top: 17%;
    left: 55%;
    height: 25rem;
}
.cdsss {
    padding: 10px 5px 10px 5px;
    width: 25rem;
    display: flex;
    top: 10%;
    left: 55%;
    height: 25rem;
    border-radius: 20px;
}
.mtt{
width: 117px;
}
.mtts{
    width: 80px;
}
.trades {
    width: 100%;
    height: 85%;
}
.sam h4 {
    font-size: 20px;
    line-height: 55px;
}
.sam p {
    color: #4B4A4A;
    font-size: 15px;
    width: 67%;
}
.learn-more-1s {
    display: flex;
    justify-content: start;
}
.btn-one-1s {
    background-color: #000;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    border-radius: 20px;
    color: #fff;
    margin-top: 5px;
    border: 2px solid #000;
}
.imas{
    display: flex;
    justify-content: center;
}
.sam {
    margin-top: 120px;
}
.comment{
    margin-top: 70px;
}
.cus {
    font-size: 19px;
    font-weight: 700;
}
.carousel-indicators #new-cio {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 28px;
    height: 28px;
    line-height: 30px;
    border-radius: 50% !important;
    text-align: center;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: unset;
    cursor: pointer;
    background-color: #fff;
    background-clip: unset;
    border-top: 0;
    border-bottom: 0;
    opacity: .5;
    transition: opacity .6s ease;
    opacity: 1;
    border: 1px solid #000;
}
/*  */
#arr-ow .carousel-control-prev-icon {
    background-image: url("../Images/ic_sharp-arrow-drop-up.png") !important;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
}
#arr-ow .carousel-control-next-icon {
    background-image: url("../Images/ic_sharp-arrow-drop-up-1.png") !important;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
}
#arr-ow  .carousel-control-prev {
    left: 80% !important;
    top: 95%;
}
#arr-ow .carousel-control-next {
    right: 0;
    top: 95%;
}
.sas{
    display: none !important;
}
.last-one{
    background-image: url("../Images/Rectangle-67.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-top: 10%;
    opacity: .8;
    margin-bottom: 6%;
}
.teams {
    color: #fff;
    padding-top: 40px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 0px;
}

.arr-ow-1 .carousel-control-prev-icon {
    background-image: url("../Images/Arrow-5.png") !important;
    background-color:#000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 50%;
}
.arr-ow-1 .carousel-control-next-icon {
    background-image: url("../Images/Arrow-4.png") !important;
    background-color: #9d9d9d;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 50%;
}
.arr-ow-1 .carousel-control-next-icon:hover {
    background-color: #000;

}
.arr-ow-1 .carousel-control-prev {
    left: 40% !important;
    top: 95%;
}
.arr-ow-1 .carousel-control-next {
    right: 40%;
    top: 95%;
}
/* scaling section */
.our-trade-1 {
    font-size: 18px;
    text-align: center;
    opacity: .8;
    margin-bottom: 50px;
}
#seala-1 {
    font-size: 13px;
    color: grey;
    margin-bottom: 30px;
    line-height: 45px;
}
.captials{
    font-size: 14px;

}
.nxsa-1 {
    text-align: center;
    font-size: 13px;
    border-collapse: 0 20px;
    padding: 21px;
    line-height: 300%;
}
.faq-btn {
    margin-top: 35px !important;
}
.flex-nowrap {
    flex-wrap: nowrap!important;
}
.ser-box {
    padding: 0px 0px 0px 20px;
    background: #D9D9D9;
    backdrop-filter: blur(1px);
    color: #fff;
    text-decoration: none;
    border: 0px !important;
}
.si-mo {
    padding-right: 15px;
    padding-top: 16px;
    font-size: 15px;
    color: #1E1E1E;
}
.ser-box-2 {
    padding: 10px 605px 10px 10px;
    background: #D9D9D9;
    backdrop-filter: blur(1px);
    color: #fff;
    text-decoration: none !important;
    border: 0px !important;
    border-radius: 10px;
}
.ser-box {
    padding: 0px 0px 0px 20px;
    background: #D9D9D9;
    backdrop-filter: blur(1px);
    color: #fff;
    text-decoration: none;
    border: 0px !important;
    border-radius: 10px;
}
.demo-chan-1 {
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    margin-top: 5%;
}
.cir-arr-1 {
    width: 40px;
}
.newsa-faq th{
    text-align: center;
}
.newsa-faq .sec{
    text-align: start;
}
.faq-tab-body tr td{
    text-align: start;

}
#tab  td {
       border-collapse: collapse;
       color:#fff;
       border: 1px solid #000000;
 }
 #tab td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
 }
 #tab  th {
   background-color: #1E1E1E;
    border-collapse: collapse;
    color: #fff;
    border-bottom: none;
 }
 #tab th {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
 }
 #tab .how{
    background-color: #1E1E1E;
 }
 #tab .how-1 {
    color: #1E1E1E;
    width: 46.5%;
}

/* contactus */
.con-us{
    color: #000000;
    font-weight: bold;
}
.deno-con{
    line-height: 43.6px;
    font-weight: 500;
    font-size: 14px;
    color: #5C595B;
}
.maps {
    height: 313px;
    width: 100%;
}
.form-con {
    padding: 65px 85px 65px 85px;
    background-color: #FFFFFF;
    border-radius: 20px;
}
.pix-fon{
    font-size: 14px;
color: #898588;
}
.con-us-1{
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin-top: -25px;
}
.subm-cont {
    width: 100%;
    margin-top: 25px;
    padding: 12px 0px 12px 0px;
    font-size: 12px;
    background-color: #000000;
    border: 1px solid #000000;
    color: #fff;
}
.subm-cont:hover {
    width: 100%;
    margin-top: 25px;
    padding: 12px 0px 12px 0px;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid #000000;
    color: #000000;
}
.name-cont-form{
    font-weight: 600;
}
.pad-cont{
    padding: 10px 4px 10px 5px !important;
    border: 1px solid #4D4C4D;
}
.form-con input::placeholder {
    font-size: 12px;
}
.tele{
    width: 16%;
}
.nws {
    background-color: #000000;
    padding: 10px 0px 10px 43px;
}
.tele-para{
    color: #ffffff;
    font-size: 13px;
}
.abu-con{
    margin-top: 4%;
    margin-bottom: 5%;
}
.bl-abo{
    display: none;
}
/* affilitae */
.aff-img-comp{
    height: 600px;
}
.affliate3-head {
    margin-top: 80px;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    color: #000000;
}
.affliate3-para {
    padding-top: 20px;
    padding-bottom: 80px;
    color: #838383;
    text-align: center;
    font-size: 16px;
}
.affliate3-card1 {
    border-radius: 10px;
    background-color: #E5E5E5;
    height: 400px;
    max-width: 350px !important;
    margin-bottom: 60px;
}
.affliate3-row {
    align-items: center;
    background-color: #000000;
    height: 80px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.affliate3-card-head {
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
}
.affliate3-row2 {
    align-items: center;
    background-color: #000000;
    height: 80px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.affliate3-card-inner {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10% !important;
    padding-right: 10% !important;
}
.affliate3-txt-lg2 {
    text-align: center;
    color: #000000;
    font-size: 6pc;
    font-weight: 400;
}
.affliate3-card-head {
    text-align: center;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
}
.affliate3-card-head-1{
    text-align: center;
    color: #000000;
    font-size: 22px;
    font-weight: 400;
}
.affliate3-para2 {
    padding-top: 20px;
    color: #1E1E1E;
    text-align: center;
    font-size: 13px;
}
.affliate3-txt-lg {
    text-align: center;
    color: #000000;
    font-size: 6pc;
    font-weight: 400;
}
#affliate3-sms{
    display: none;
}
.aff-sec4-head {
    color: #000000;
    font-size: 30px;
    text-align: center;
    padding: 1% 25% 1% 25%;
    font-weight: 500;
}
.aff-sec-bdy-out-canva {
    background-color: #000000;
    padding-bottom: 10%;
}
.affiliate-canva, .payout-canva {
    padding: 10% 11%;
}
.affiliate-canva, .payout-canva, .rewards-canva, .highconverstion-canva {
    display: flex;
    flex-flow: column;
    justify-content: center !important;
    align-items: center;
}
.payout-proce-head {
    color: #fff;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 20px;
}
.payout-proce-cont {
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}
.aff-sec-terms-head {
    text-align: center;
    color: #000000;
    padding-top: 8%;
    padding-bottom: 4%;
    font-size: 36px;
    font-weight: 400;
}
.aff-sec-terms-cont ul li p {
    color: #242323;
    font-weight: 300;
    font-size: 15px;
    padding-bottom: 1%;
}
.aff-sec-terms-cont ul li{
    list-style-type: none !important;
}
.aff-sec-con-out {
    text-align: center;
    background: linear-gradient(125deg, rgba(0, 0, 0, 1) 0%, rgba(79, 69, 72, 1) 100%);
    padding: 1.5% 16%;
    border-radius: 25px;
    margin-bottom: 75px;
    margin-top: 55px;
}
.aff-sec-con {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 369;
    line-height: 58px;
}
.aff-sec6-canva a {
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: underline;
}
.aff-sec-btn {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 10px;
    padding: 1% 6%;
    border-radius: 5px;
    margin-top: 6%;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    margin-top: 11px;
    margin-bottom: 20px;
}
.arr-sas{
    width: 17px;
}
.aff-img-mob{
    display: none;
}
.btn-one-121 {
    background-color: #000;
    padding: 8px 12px 8px 12px;
    font-size: 12px;
    border-radius: 20px;
    color: #fff;
    margin-top: -25px;
    border: 2px solid #000;
}
.btn-one-121:hover{
    background-color: #FFFFFF;
    padding: 8px 12px 8px 12px;
    font-size: 12px;
    border-radius: 20px;
    color: #000000;
    margin-top: -25px;
    border: 2px solid #000;
}
.bgad-1{
    background-image: url('../Images/Rectangle-50.png') !important;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    /* width: 74rem; */
}
.bgad-3{
    background-image: url('../Images/Rectangle-45.png') !important;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    /* width: 74rem; */
}
.bgad-4{
    background-image: url('../Images/Rectangle-103.png') !important;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    /* width: 74rem; */
}
.bgad-12{
    background-image: url('../Images/Rectangle-70.png') !important;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 630px;
    /* width: 74rem; */
}
.cds-1 {
    padding: 10px 5px 10px 5px;
    width: 25rem;
    display: flex;
    top: 5%;
    left: 0%;
    height: 35rem;
    border-radius: 20px;
}
.scs {
    background-color: rgb(51, 51, 51);
    height: 300px;
    width: 800px;
    margin-left: 36.5%;
    border-radius: 20px 0px 0px 0px;
}
.vie-all {
    text-align: start;
    color: #fff;
    padding-top: 40px;
}
.crsa {
    height: 300px;
}
.spca{
    width: 17%;
}
.img-to{
    margin-top: -170px;
}
.bg-human {
    background-color: #000000;
    height: 200px;
    padding: 18px 0px 0px 0px;
}
.ellip {
    width: 100px;
    margin-bottom: 10px;
}
.name-of-client h6{
    color: #FFFFFF;
}
.name-of-client p{
    color: #FFF2F2;
    font-size: 13px;
}
.car-img{
    width: 128% !important;
}
/* owl about */
.slider {
    margin-bottom: 30px;
    position: relative;
  }
  .slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    background: #ff9966; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }
  /* .slider-card {
    background: #fff;
    padding: 0px 0px;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
  } */
  .slider-card {
    background: #fff;
    /* padding: 0px 0px; */
    margin: 55px 54px 99px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
    transform: scale(0.9);
    opacity: .4;
    transition: all 0.3s;
}
  .slider-card img {
    border-radius: 5px 5px 0px 0px;
  }
  .owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
    display: none !important;
  }
  .owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
    display: none !important;
  }
  .owl-dots {
    text-align: center;
  }
  /* .owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
  } */
  .owl-dots .owl-dot {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
    margin-bottom: 5%;
}
  .owl-dots .owl-dot.active {
    background: #000000 !important;
  }
  .max-3{
    margin-top: 18%;
  }
  /* scalling carou */
  .car-img-1{
    width: 150px;
  }
  .mobi-card{
    display: none;
  }
  .cds-mobile{
    display: none;
  }
  .cds-123{
    display: none;
}
/* scaling */

.necrd{
    display: flex;
    justify-content: center;
}
.necrd  .cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 820px;
}
.necrd .card-title{
text-align: center;

}


.necrd .card__like {
    width: 18px;
}

.necrd .card__clock {
    width: 15px;
  vertical-align: middle;
    fill: #AD7D52;
}
.necrd .card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.necrd .card__clock-info {
    float: right;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}


.necrd .card-body {
    flex: 1 1 auto;
    padding: 0px;
    color: var(--bs-card-color);
    line-height: 65px;
}
.necrd .card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
    width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.necrd .card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
    z-index: 2;
    /* background-color: #fff; */
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0px 0px 20px 0px;
}
.ini-head {
    text-align: center;
    font-size: 14px;
}


.headinges{
    background-color: #ACACAC;
    text-align: center;
    color:#ffffff;
}
.heading{
    background-color: #1E1E1E;
    text-align: center;
    color:#ffffff;
}

.necrd .card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;

}



.necrd .card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.necrd .card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.necrd .card:hover .card__info-hover {
    opacity: 1;
}
.percentage {
    font-size: 13px;
    text-align: center;
    line-height: 69px;
    border-bottom: 2px solid #000000;
}
.nd-ns{
    display: none ;
}
/* mobile view */
@media (max-width:540px){
    #navbarSupportedContent ul li a {
        color: #ffffff;
        margin-left: -90px !important;
    }
    .card--1 {
        margin-bottom: 10px;
        width: 21rem;
    }
    .n-d{
        display: flex;
        justify-content: center;
    }
    .nd-ns{
        display:block;
    }
    .m-m{
        margin-top: 10px;
    }
    .desk{
        display: none;
    }
    .ser-box-2 {
        padding: 0px 75px 0px 20px;
        background: #D9D9D9;
        backdrop-filter: blur(1px);
        color: #fff;
        text-decoration: none !important;
        border: 0px !important;
    }
    .si-mo {
        padding-right: 15px;
        padding-top: 14px;
        font-size: 15px;
        color: #1E1E1E;
        padding-bottom: 14px !important;
    }
    #news-plat{
        display: none !important;
    }
    .nws {
        background-color: #000000;
        padding: 10px 30px 10px 30px;
        height: 250px;
    }
    .mor-bot>div{
        margin-top: 30px;
    }
    .bl-abo{
        display: block;
    }
    #affliate3-sms{
        display: block !important;
    }
    #affliate3-lg{
        display:none;
    }
    #AffiliateCaraousel .carousel-indicators [data-bs-target] {
        width: 18px !important;
        height: 18px !important;
        background-clip: unset !important;
        border-top: 0 solid transparent !important;
        border-bottom: 0px solid transparent !important;
        border-radius: 51px !important;
    }
    #AffiliateCaraousel .carousel-indicators .active {
        opacity: 1;
        height: 20px !important;
        width: 20px !important;
        position: relative;
        bottom: 1px !important;
        background-color: #1945ba;
    }
    .aff-img-comp{
        height: 700px;
        display: none;
    }
    .aff-img-mob{
        display: block !important;
    }
    .affliate3-para br{
        display: none;
    }
    /* .affliate3-card1{
        display: none;
    } */
    .aff-sec4-head {
        color: #000000;
        font-size: 27px;
        text-align: center;
        padding: 1% 7% 1% 7%;
        font-weight: 500;
    }
    .aff-sec-con {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 369;
        line-height: 35px;
    }
    .aff-sec-btn {
        padding: 3% 6%;
    }
    .bg-human {
        background-color: #000000;
        height: 375px;
        padding: 18px 0px 0px 0px;
    }
    .cdsss{
        display: none;
    }
    .mobi-card {
        display: block !important;
        padding: 10px 5px 10px 5px;
        width: 100%;
        top: 0%;
        left: 0%;
        height: 27rem;
        border-radius: 20px;
        margin-top: -70px;
    }
    .cds {
       display: none;
    }
    .cds-mobile {
        display: block;
        padding: 10px 5px 10px 5px;
        width: 100%;
        display: flex;
        top: 0%;
        left: 0%;
        height: 27.5rem;
        border-radius: 20px;
        margin-top: -70px;
    }
    .btn-one-1 {
        margin-top: 10px;
    }
    .want {
        margin-top: 50px;
    }
    .arr-ow-1 .carousel-control-prev {
        left: 35% !important;
        top: 95%;
    }
    .arr-ow-1 .carousel-control-next {
        right: 35%;
        top: 95%;
    }
    .flg-btn {
        padding: 5px 15px 5px 15px;
        border-radius: 20px;
        border: none;
        font-size: 9px;
    }
    .befores {
     
        margin-top: 20px;
    }
    .bgads {
        margin-top: -100px;
    }
    #arr-ow  .carousel-control-prev {
        left: 70% !important;
        top: 95%;
    }
    .sam h4 {
        font-size: 20px;
        line-height: 34px;
    }
    .our-trade-1 br{
        display: none;
    }
    #seala-1 {
        font-size: 12px;
        color: grey;
        margin-bottom: 30px;
        line-height: 47px;
    }
    .nxsa-1 {
        line-height: 158%;
    }
    .form-con {
        padding: 65px 35px 65px 35px !important;
        background-color: #FFFFFF;
        border-radius: 20px;
    }
    .scs {
        background-color: rgb(51, 51, 51);
        height: 300px;
        width: 100%;
        margin-left: 0%;
        border-radius: 20px 20px 0px 0px;
    }
    .crsa {
        height: 236px;
    }
    .spca {
        width: 50%;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    .vie-all {
        text-align: center;
        color: #fff;
        padding-top: 40px;
    }
    .cds-1{
        display: none;
    }
    .cds-123{
        display: block;
    }
    .bgad-12 {
      
        margin-top: -187px;
    }
    .cds-123 {
        display: block;
        margin-top: -132px;
        border-radius: 20px;
    }
    .bgad-4 {
        margin-top: -150px;
    }
    .joins h3 {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 35px;
        color: #fff;
    }
    .bgad {
    
        margin-top: -41px !important;
    }
    .affliate3-card-head {
        text-align: center;
        color: #FFFFFF;
        font-size: 22px;
        font-weight: 400;
    }
    .co-mission{
        color: #000000;
    }
}
@media (min-width: 1500px) and (max-width:1890px){
    .cds {
        top: 11%;
        left: 20% !important;
    }
    .cdsss {
        left: 50%;
    }
    .scs {
        background-color: rgb(51, 51, 51);
        height: 300px;
        width: 100%;
        margin-left: 36.5%;
        border-radius: 20px 0px 0px 0px;
    }
    .con-us {
        color: #000000;
        font-weight: bold;
        margin-bottom: 30px;
    }
}
@media (min-width: 1900px){
    .cds {
        top: 11%;
        left: 20% !important;
    }
    .cdsss {
        left: 50%;
    }
    .teams {
        color: #fff;
        padding-top: 40px;
        font-size: 20px;
        line-height: 30px;
        padding-left: 0px !important;
    }
    .cds-1 {
        padding: 10px 5px 10px 5px;
        width: 25rem;
        display: flex;
        top: 5%;
        left: 5%;
        height: 35rem;
        border-radius: 20px;
    }
    .scs {
        background-color: rgb(51, 51, 51);
        height: 300px;
        width: 100%;
        margin-left: 36.5%;
        border-radius: 20px 0px 0px 0px;
    }
    .con-us {
        color: #000000;
        font-weight: bold;
        margin-bottom: 30px;
    }
}